.vscode
.pnp.*
.env
.env.local
.env.production

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
**/.DS_Store

assignment.md
shared

**/prisma/constants/*.json
